<app-mensagens [mensagens]="mensagens"></app-mensagens>
<app-loading [carregando]="carregando"></app-loading>
<div class="corpo">
  <div class="text-center title-header">
    <h1 class="text-center">
      <a routerLink="/app/veiculos/adicionar">{{titulo}}</a>
    </h1>
  </div>
  <div class="botoes-acoes">
    <a routerLink="/app/veiculos" class="btn btn-secondary alinhar-icone">
      <i class="material-icons">arrow_back</i>
      <span>Voltar</span>
    </a>
    <button class="btn btn-success alinhar-icone" (click)="salvar()">
      <i class="material-icons">save</i>
      <span>Salvar</span>
    </button>
  </div>
  <form class="grid-form">
    <p class="aviso-obrigatorio">Campos obrigatórios
      <span class="obrigatorio"> *</span>
    </p>
    <div class="form-group">
      <label for="tipoVeiculo">Tipo veículo
        <span class="obrigatorio"> *</span>
      </label>
      <app-dropdown-typeahead name="tipoVeiculo" [values]="tiposVeiculo" fieldFilter="descricao" fieldDisplay="descricao" [(model)]="veiculo.modelo.marca.tipoVeiculo"
        (whenSelectItem)="selecionouTipoVeiculo()" fieldValue="id">
      </app-dropdown-typeahead>

    </div>
    <div class="form-group">
      <label for="marca">Marca
        <span class="obrigatorio"> *</span>
      </label>
      <app-dropdown-typeahead name="marca" [values]="marcas" fieldFilter="descricao" fieldDisplay="descricao" [(model)]="veiculo.modelo.marca"
        (whenSelectItem)="selecionouMarca()" fieldValue="id">
      </app-dropdown-typeahead>
    </div>
    <div class="form-group">
      <label for="modelo">Modelo
        <span class="obrigatorio"> *</span>
      </label>
      <app-dropdown-typeahead name="modelo" [values]="modelos" fieldFilter="descricao" fieldDisplay="descricao" [(model)]="veiculo.modelo"
        fieldValue="id">
      </app-dropdown-typeahead>
    </div>
    <div class="form-group">
      <label for="anos">Ano Fabricação/Modelo
        <span class="obrigatorio"> *</span>
      </label>
      <div name="anos" class="form-row">
        <div class="col">
          <input class="form-control" type="number" name="anoFab" [(ngModel)]="veiculo.anoFabricacao">
        </div>
        <div class="col">
          <input class="form-control" type="number" name="anoModelo" [(ngModel)]="veiculo.anoModelo">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="cor">Cor
            <span class="obrigatorio"> *</span>
          </label>
          <app-dropdown-typeahead name="cor" [values]="cores" fieldFilter="descricao" fieldDisplay="descricao" [(model)]="veiculo.cor"
            fieldValue="id">
          </app-dropdown-typeahead>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="valorAnuncio">Valor anúncio
            <span class="obrigatorio"> *</span>
          </label>
          <input currencyMask name="valorAnuncio" class="form-control" [(ngModel)]="veiculo.valorAnuncio" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="combustivel">Combustível</label>
      <app-dropdown-typeahead name="combustivel" [values]="combustiveis" fieldFilter="descricao" fieldDisplay="descricao" [(model)]="veiculo.combustivel"
        fieldValue="id">
      </app-dropdown-typeahead>
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <app-dropdown-typeahead name="estado" [values]="estados" fieldFilter="nome" fieldDisplay="nome" [(model)]="veiculo.cidade.estado"
        fieldValue="id" (whenSelectItem)="selecionouEstado()">
      </app-dropdown-typeahead>
    </div>
    <div class="form-group">
      <label for="cidade">Cidade</label>
      <app-dropdown-typeahead name="cidade" [values]="cidades" fieldFilter="nome" fieldDisplay="nome" [(model)]="veiculo.cidade"
        fieldValue="id">
      </app-dropdown-typeahead>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="placa">Placa</label>
          <input type="text" name="placa" [(ngModel)]="veiculo.placa" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="renavam">Renavam</label>
          <input type="text" name="renavam" [(ngModel)]="veiculo.renavam" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="chassi">Chassi</label>
      <input type="text" name="chassi" [(ngModel)]="veiculo.chassi" class="form-control">
    </div>
    <div class="form-group" *ngIf="edicao">
      <label for="dataInclusao">Data Inclusão</label>
      <input class="form-control" disabled placeholder="dd/MM/yyyy" name="dataInclusao" [ngModel]="veiculo.dataInclusao" ngbDatepicker>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="dataAquisicao">Data aquisição</label>
          <input class="form-control" placeholder="dd/MM/yyyy" name="dataAquisicao" (focus)="dataAquisicao.toggle()" [(ngModel)]="veiculo.dataAquisicao"
            ngbDatepicker #dataAquisicao="ngbDatepicker" autoClose="true">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="valorAquisicao">Valor aquisição</label>
          <input currencyMask name="valorAquisicao" class="form-control" [(ngModel)]="veiculo.valorCompra" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="dataVenda">Data venda</label>
          <input class="form-control" placeholder="dd/MM/yyyy" name="dataVenda" (focus)="dataVenda.toggle()" [(ngModel)]="veiculo.dataVenda"
            ngbDatepicker #dataVenda="ngbDatepicker" autoClose="true">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="valorVenda">Valor venda</label>
          <input currencyMask name="valorVenda" class="form-control" [(ngModel)]="veiculo.valorVenda" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="observacoes">Observações</label>
      <textarea type="textarea" rows="3" name="observacoes" [(ngModel)]="veiculo.observacoes" class="form-control">
        </textarea>
    </div>

    <br> {{veiculo | json}}
  </form>
</div>