/* thead {
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
}

thead,
th,
thead > tr {
  border-collapse: separate;
  border-top-color: transparent;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  /* border-top-left-radius: 24%;
  border-top-right-radius: 24%;
}

tbody {
  background-color: white;
}

.td-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%;
}

.row-title {
  grid-column: 1/3;
  font-weight: bold;
  color: var(--cor-primaria);
}

.row-title > img {
  width: 100px;
}

.row-detail {
  font-size: 0.6rem;
}

.row-detail > p,
.row-detail > label {
  display: inline-block;
  margin: 0;
}

.row-detail > label {
  font-weight: bold;
  color: var(--cor-primaria);
}

.coluna-acoes {
  vertical-align: middle;
}

.coluna-acoes > a,
.coluna-acoes > button {
  margin: 0.7rem;
}

.badge {
  margin-left: 0.5rem;
}

.input-group-text {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

@media (min-width: 992px) {
  .td-container {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .row-title {
    display: inline-block;
    grid-column: 1/5;
  }

  .row-detail {
    font-size: 0.7rem;
  }

  .row-title > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
  }
} */
