nav {
  background-color: var(--cor-primaria);
}

.navbar {
  border-radius: 0px 0px 25px 25px;
  justify-content: center;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}
.navbar-toggler {
  position: absolute;
  left: 80%;
  top: 12px;
}

.nav-link,
.navbar-brand,
.navbar-toggler {
  color: var(--cor-secundaria) !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--cor-primaria) !important;
  background-color: var(--cor-secundaria) !important;
  border-radius: 14px;
}

.logo {
  width: 45px;
  height: 25px;
}

.navbar-dark .navbar-toggler {
  border: transparent;
}

.alinhar-icone > p {
  margin: 0;
}

.traco {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.material-icons {
  font-size: 24px;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 800;
}

@media (max-width: 991px) {
  #sair {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .traco {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }
}
