api/node_modules
api/logs
api/src/config
api/dist/config
api/cert
web/node_modules
web/src/app/config/configs.ts
web/dist
api/dist.zip
web/src/app/config/configs.ts
api/PerimetralVeiculos-1910aa9d67e0.json
api/dist