agm-map {
    height: 250px;
    margin: 1.2rem;
}

.informacoes {
    font-family: "Bowlby One SC", cursive;
    color: white;
    text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
    margin-bottom: 10px;
    padding: 10px;
}

.informacoes>p {
    margin: 0;
}

p:first-child {
    color: #e0af43;
}

@media (min-width: 992px) {
    .corpo {
        display: grid;
        grid-template-columns: 65% 35%;
    }
    .informacoes {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .corpo>div:last-child {
        margin-top: 6rem;
    }
    .corpo>div:first-of-type {
        margin-top: 1.2rem;
    }
    .informacoes {
        margin: 0;
        padding: 0;
    }
}