<app-mensagens [mensagens]="mensagens"></app-mensagens>
<app-loading [carregando]="carregando"></app-loading>
<div class="grid corpo" *ngIf="lineChartReady">
  <div class="text-center title-header">
    <h1 class="text-center">Painel</h1>
  </div>
  <canvas baseChart [datasets]=" lineChartData " [labels]="lineChartLabels " [options]="lineChartOptions "
    [legend]="lineChartLegend " [chartType]="lineChartType">
  </canvas>
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [legend]="lineChartLegend" chartType="bar"></canvas>
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [legend]="lineChartLegend" chartType="doughnut"></canvas>
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [legend]="lineChartLegend" chartType="pie"></canvas>
</div>