.corpo {
    background-color: #8a3331;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    /*height: 100%;*/
  }
  
  .alinhar-icone > *,
  .alinhar-icone > * > * {
    vertical-align: middle !important;
  }

   img{
    width: 100%;
  } 
  .imagens{
    width: 90%;
    box-shadow: 0 0 5px 1px black;
    margin-bottom: 10px;
    margin: 0 0 10px 0;
  }

  .detalhes {
    display: grid;
    justify-items: center;
    background-color: #8a3331;
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0;
  }
  .detalhes > p {
    font-family: "Bowlby One SC", cursive;
    color: white;
    text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
      0px -1px 0px black;
    margin: 0;
    padding: 2px;
    text-align: center;
  }

  .bagde-opcional {
    color: #efb943;
    background-color: #8a3331;
    font-family: "Bowlby One SC", cursive;
    text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black;
    margin: 5px;
    box-shadow: 1px 2px 3px 0px black;
  }

  .opcional{
    background-color: rgba(255, 255, 255, 0.78);
    justify-items: center;
    padding: 5px;
    box-shadow: 0px 0px 8px 2px black;
    margin: 8px !important;
    border-radius: 20px;
  }

  .preco{
    font-size: 1.8rem;
    color: #efb943 !important;
    margin-top: 5px !important;
    text-shadow: 3px 3px 2px black !important;
  }
  
  @media (min-width: 992px) {
    .corpo {
      grid-template-columns: 60% 40%;
      align-items: center;
      justify-items: center;
    }
    
  }
  