.corpo {
    background-color: #8a3331;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .alinhar-icone > *,
  .alinhar-icone > * > * {
    vertical-align: middle !important;
  }
  
 
  .card {
    width: 90%;
    margin-bottom: 1rem;
  }
  
  .card-body > p {
    font-family: "Bowlby One SC", cursive;
    color: white;
    text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
      0px -1px 0px black;
    margin: 0;
    padding: 3px;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  
  .card-body {
    display: grid;
    grid-template-rows: 70% 30%;
    padding: 2px;
    background-color: #8a3331;
    border-radius: 6%;
    margin: 1px;
  }
  
  .preco {
    font-size: 0.8rem;
    color: #efb943 !important;
    grid-column: 1/2;
  
  }
  
  .descricao-veiculo {
    font-size: 0.7rem;
    grid-column: 0/1;
  }
  
  img {
    width: 100%;
  }

  .ano{
    display: none !important;
  }
  
  
  
   
  
  
  
  
  @media (min-width: 992px) {
    .corpo {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
    }

    .card-body {
      display: grid;
      grid-template-rows: 50% 20% 30%;
      padding: 2px;
      background-color: #8a3331;
      border-radius: 6%;
      margin: 1px;
    }

    .descricao-veiculo {
      grid-row: 1/2;
    }

    .ano {
      font-size: 0.6rem;
      display: flex !important;
      grid-row: 2/3;
    }

    .preco {
      grid-row: 3/4;
    }
  
    
  }
  