<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand alinhar-icone" routerLink="/app/dashboard">
    <img src="../../assets/logo.png" alt="Logo" class="logo">
    <span>AdminCar</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuCollapse" aria-controls="menuCollapse"
    aria-expanded="false" aria-label="Toggle navigation" id="btnCollapse">
    <i class="material-icons">menu</i>
  </button>
  <div class="collapse navbar-collapse" id="menuCollapse" #menuCollapse>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link alinhar-icone" routerLink="/app/dashboard">
          <div data-toggle="collapse" data-target="#menuCollapse">
            <i class="material-icons">dashboard</i>
            <span>Painel</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link alinhar-icone" routerLink="/app/veiculos">
          <div data-toggle="collapse" data-target="#menuCollapse">
            <i class="material-icons">directions_car</i>
            <span>Veículos</span>
          </div>
        </a>
      </li>

    </ul>

    <hr class="traco">
    <ul class="navbar-nav">
      <li class="nav-item">

        <a class="nav-link alinhar-icone" routerLink="/app/usuarios">
          <div data-toggle="collapse" data-target="#menuCollapse">
            <i class="material-icons">account_circle</i>
            <span>{{usuario}}</span>
          </div>
        </a>
      </li>
      <li class="nav-item">

        <a class="nav-link  alinhar-icone" routerLink="/login" id="sair" (click)="logout()">
          <i class="material-icons">exit_to_app</i>
          <span>Sair</span>
        </a>
      </li>
    </ul>
  </div>
</nav>