.obrigatorio,
.delete-anexo,
.aviso {
  color: red;
}

.aviso-obrigatorio {
  font-size: 0.65rem;
}

img {
  width: 100%;
}

.form-group > label {
  font-weight: bold;
}

.imagens-preview {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 50% 50%;
}

.transicao-opacidade {
  transition: opacity 0.7s;
}

.linha-inteira {
  grid-column: 1/3;
}

.acao-anexo {
  margin: 2px;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.7s;
}

.anexo-principal {
  color: green;
}

.anexo-secundario {
  color: grey;
}

.anexo-outras-acoes {
  color: black;
}

.progress {
  width: 100%;
}

.anexo-deletado {
  opacity: 0.5;
}

.sem-margem {
  margin: 0;
}

.card-body {
  /* background-color: rgba(0, 44, 82, 0.83); */
  background-color: var(--cor-primaria);
  justify-content: center;
  display: flex;
}

.card {
  box-shadow: 5px 7px 20px 0px;
}

.botoes-imagem {
  background-color: rgba(255, 255, 255, 0.1);
  height: 32px;
}

.ano {
  text-align: right;
}

.alinhamento-texto-centralizado {
  text-align: center;
}

.imagens-carousel {
  display: none;
}

.card {
  border-color: black;
}

@media (min-width: 992px) {
  .grid-form {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    display: grid;
  }

  .linha-inteira {
    grid-column: 1/5;
  }

  .browse-files {
    grid-column: 2/4;
  }

  .imagens-preview {
    grid-column: 1/4;
    grid-gap: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .imagens-carousel {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    padding: 3px;
  }

  .sombra {
    box-shadow: 3px 4px 18px;
  }

  .acao-anexo:hover {
    transform: scale(1.3);
  }
}
