<div class="form-body">

  <form class="form-signin" method="post" action="">

    <div class="form-label-group">
      <input type="text" id="inputUsuario" class="form-control" placeholder="Usuário" required autofocus>
      <label for="inputUsuario">Usuário</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputSenha" class="form-control" placeholder="Senha" required>
      <label for="inputSenha">Senha</label>
    </div>
    <button type="button" class="btn btn-primary">Login</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>
</div>