<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
<div class="header">
  <a href="/" class="logo">
    <div class="nome">
      <p class="primeira-letra">P</p>
      <p>erimetral</p>
    </div>
    <p class="subtitulo">veículos</p>
  </a>

  <div class="location">
    <i class="material-icons">
      location_on
    </i>
    <div class="address">
      <p>Av. Otto Ribeiro, 2368</p>
      <p>Assis, SP</p>
    </div>
  </div>

  <div class="contact">
    <i class="material-icons">
      phone
    </i>
    <div class="phones">
      <a href="tel:18-3022-2908">(18)3022-2908</a>
      <a href="tel:18-99726-3409">(18)99726-3409</a>
    </div>
  </div>
</div>