.header {
  height: 90px;
  width: 100%;
  background-color: #8a3331;
  display: flex;
  justify-content: space-around;
}

.logo:hover {
  text-decoration: none;
}

.logo {
  font-family: "Bowlby One SC", cursive;
  text-shadow: black 1px 1px 2px;
  color: white;
}

.nome {
  font-size: 1.8rem;
  display: flex;
  align-items: baseline;
}

.primeira-letra {
  color: #e0af43;
  font-size: 3rem;
  font-style: italic;
}

.subtitulo {
  font-size: 1rem;
  margin-top: -1.3rem;
}

.logo * p {
  margin: 0;
}

.location {
  display: none;
}

.contact {
  display: flex;
  align-items: center;
}

.location > i,
.contact > i {
  color: #e0af43;
  font-size: 2.5rem;
  text-shadow: black 1px 1px 2px;
}

.address,
.phones {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.address > p,
.phones > a {
  padding-top: 3px;
  margin: 0;
  color: white;
  display: block;
}

@media (min-width: 992px) {
  .nome {
    font-size: 2rem;
  }

  .primeira-letra {
    font-size: 3.2rem;
  }

  .subtitulo {
    font-size: 1.2rem;
    margin-top: -1.3rem;
  }

  .location {
    display: flex;
    align-items: center;
  }

  .location > i,
  .contact > i {
    font-size: 3.1rem;
  }

  .address,
  .phones {
    font-size: 0.8rem;
  }
  .address > p,
  .phones > a {
    padding-top: 0px;
  }
}
