thead {
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
}

td > button {
  margin: 0.2rem;
}

table {
  background-color: white;
}

.btn-outline-secondary {
  font-size: 0.7rem;
}

.material-icons {
  font-size: 16px;
}
