<app-mensagens [mensagens]="mensagens"></app-mensagens>
<app-loading [carregando]="carregando"></app-loading>
<div class="corpo">
  <div class="text-center title-header">
    <h1 class="text-center">
      <a routerLink="/app/usuarios">Usuários</a>
    </h1>
  </div>
  <div class="botoes-acoes">
    <a routerLink="adicionar" class="btn btn-success alinhar-icone">
      <i class="material-icons">add_circle</i>
      <span>Adicionar</span>
    </a>
  </div>
  <table class="table table-bordered table-sm">
    <thead>
      <tr class="table-active">
        <th class="text-center" scope="col">Usuário</th>
        <th class="text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td class="text-center" scope="row">{{usuario.nome}}</td>
        <td class="text-center">
          <a class="btn btn-outline-secondary btn-sm alinhar-icone" [routerLink]="['editar/', usuario.nome]">
            <i class="material-icons">mode_edit</i>
            <span class="texto-acoes">Editar</span>
          </a>
          <app-botao-excluir mensagemConfirmacao="Tem certeza que deseja excluir o usuário {{usuario.nome}}?" identificador="{{usuario.nome}}"
            (acaoConfirmada)="excluirUsuario(usuario.nome)"></app-botao-excluir>
        </td>
      </tr>
    </tbody>
  </table>
</div>